@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 512 512'%3E%3Cdefs%3E%3Csymbol id='meteoconsPartlyCloudyDay0' viewBox='0 0 193 193'%3E%3Ccircle cx='96.5' cy='96.5' r='40' fill='none' stroke='%23fbbf24' stroke-miterlimit='10' stroke-width='9'/%3E%3Cpath fill='none' stroke='%23fbbf24' stroke-linecap='round' stroke-miterlimit='10' stroke-width='9' d='M96.5 29.9V4.5m0 184v-25.4m47.1-113.7l18-18M31.4 161.6l18-18m0-94.2l-18-18m130.2 130.2l-18-18M4.5 96.5h25.4m158.6 0h-25.4'%3E%3CanimateTransform additive='sum' attributeName='transform' dur='6s' repeatCount='indefinite' type='rotate' values='0 96.5 96.5; 45 96.5 96.5'/%3E%3C/path%3E%3C/symbol%3E%3Csymbol id='meteoconsPartlyCloudyDay1' viewBox='0 0 359 231'%3E%3Cpath fill='none' stroke='%23e2e8f0' stroke-linecap='round' stroke-linejoin='round' stroke-width='15' d='M295.5 223.5a56 56 0 0 0 0-112l-2.5.1a83.9 83.9 0 0 0-153-64.2a56 56 0 0 0-84.6 48.1a56.6 56.6 0 0 0 .8 9a60 60 0 0 0 11.2 119'/%3E%3C/symbol%3E%3Csymbol id='meteoconsPartlyCloudyDay2' viewBox='0 0 435.5 371.5'%3E%3Cg clip-path='url(%23meteoconsPartlyCloudyDay3)'%3E%3Cuse width='193' height='193' href='%23meteoconsPartlyCloudyDay0' transform='translate(69.5 110.5)'/%3E%3C/g%3E%3Cuse width='359' height='231' href='%23meteoconsPartlyCloudyDay1' transform='translate(76.5 140.5)'/%3E%3C/symbol%3E%3CclipPath id='meteoconsPartlyCloudyDay3'%3E%3Cpath fill='none' d='M288 148a83.8 83.8 0 0 0-71.4 40a56 56 0 0 0-84.6 48a56.6 56.6 0 0 0 .8 9A60 60 0 0 0 84 304H0V0h288Z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cuse width='435.5' height='371.5' href='%23meteoconsPartlyCloudyDay2'/%3E%3C/svg%3E");
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url('https://wallpapercrafter.com/desktop/250675-outdoor-cloud-calm-and-weather-hd.jpg');
    background-size: cover;
}


.container
{
    position: relative;
    width: 400px;
    height: 100px;
    background: rgba(255,255, 255, 0.1);
    border-radius: 16px;
    padding: 20px;
    backdrop-filter:blur(20px) ;
    color: aliceblue;
    /* border: 2px solid rgba(255, 255, 255, 0.1); */

}


.container1
{
    position: relative;
    text-align: center;
    width: 400px;
    height: 650px;
    margin-right: 20px;
    background: rgba(255,255, 255, 0.1);
    border-radius: 16px;
    padding: 20px;
    backdrop-filter:blur(20px) ;
    color: aliceblue;

    /* border: 2px solid rgba(255, 255, 255, 0.1); */

}




.search-box
{
    position: relative;
    width: 100%;
    height: 55px;

    display: flex;
    align-items: center;

}


.search-box input
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border:2px solid rgba(255, 255, 255, 0.2);
    outline: none;
    border-radius: 10px;
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 48px 0 48px;
}


.search-box input::placeholder
{
    color: #fff;
    text-transform: capitalize;
    font-weight: 100;

}

.search-box i{
    position: absolute;
    left: 10px;
    font-size: 28px;
    color: #fff;

}
.search-box button
{
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 28px;
    color: #fff;
    padding: 0 48px 0 48px;
    cursor: pointer;



}

.weather-box img
{
    width: 50%;
}

.meteocons--partly-cloudy-day {
    display: inline-block;
    width: 230px;
    height: 230px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cdefs%3E%3Csymbol id='meteoconsPartlyCloudyDay0' viewBox='0 0 193 193'%3E%3Ccircle cx='96.5' cy='96.5' r='40' fill='none' stroke='%23fbbf24' stroke-miterlimit='10' stroke-width='9'/%3E%3Cpath fill='none' stroke='%23fbbf24' stroke-linecap='round' stroke-miterlimit='10' stroke-width='9' d='M96.5 29.9V4.5m0 184v-25.4m47.1-113.7l18-18M31.4 161.6l18-18m0-94.2l-18-18m130.2 130.2l-18-18M4.5 96.5h25.4m158.6 0h-25.4'%3E%3CanimateTransform additive='sum' attributeName='transform' dur='4.5s' repeatCount='indefinite' type='rotate' values='0 96.5 96.5; 45 96.5 96.5'/%3E%3C/path%3E%3C/symbol%3E%3Csymbol id='meteoconsPartlyCloudyDay1' viewBox='0 0 359 231'%3E%3Cpath fill='none' stroke='%23e2e8f0' stroke-linecap='round' stroke-linejoin='round' stroke-width='15' d='M295.5 223.5a56 56 0 0 0 0-112l-2.5.1a83.9 83.9 0 0 0-153-64.2a56 56 0 0 0-84.6 48.1a56.6 56.6 0 0 0 .8 9a60 60 0 0 0 11.2 119'/%3E%3C/symbol%3E%3Csymbol id='meteoconsPartlyCloudyDay2' viewBox='0 0 435.5 371.5'%3E%3Cg clip-path='url(%23meteoconsPartlyCloudyDay3)'%3E%3Cuse width='193' height='193' href='%23meteoconsPartlyCloudyDay0' transform='translate(69.5 110.5)'/%3E%3C/g%3E%3Cuse width='359' height='231' href='%23meteoconsPartlyCloudyDay1' transform='translate(76.5 140.5)'/%3E%3C/symbol%3E%3CclipPath id='meteoconsPartlyCloudyDay3'%3E%3Cpath fill='none' d='M288 148a83.8 83.8 0 0 0-71.4 40a56 56 0 0 0-84.6 48a56.6 56.6 0 0 0 .8 9A60 60 0 0 0 84 304H0V0h288Z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cuse width='435.5' height='371.5' href='%23meteoconsPartlyCloudyDay2'/%3E%3C/svg%3E");
}

.weather-box
{
    text-align: center;
    margin: 40px 0;
}

.weather-box .temperature
{
    position: relative;
    font-size: 56px;
    line-height: 1;
    font-weight: 80;
    margin: 20px 0 6px;

}
.weather-box .temperature span
{
    position: absolute;
    font-size: 24px;
    margin-left: 4px ;
}
.weather-details
{
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;

}


.weather-details .humidity,
.weather-details .wind
{

    display: flex;
    align-items: center;
    width: 50%;

}

.weather-details .humidity
{
    padding-left:15px;
    justify-content: flex-start;
}

.weather-details .wind
{
    padding-right: 15px;
    ;
}

.weather-details i{
    font-size: 56px;
    margin: 10px;
}

.weather-details span
{
    font-size: 25px;
    font-weight: 200;
}

.link {
    color:aliceblue;
    font-weight: bold;
}
a
{
    color: aliceblue;
    
}


.not-found
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 100px;
    
}

.not-found img
{
    width: 50%;

}


.not-found p 
{
    font-weight: 500;
}


.weather-box,
.weather-details,
.not-found
{
    visibility: hidden;
}



.weather-box.active,
.weather-details.active,
.not-found.active
{
    visibility: visible;
}
